@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --text: 18.22%, 0.000, 89.88;
  --background: 98.51%, 0.000, 89.88;
  --primary: 58.51%, 0.182, 24.74;
  --secondary: 72.53%, 0.127, 20.64;
  --accent: 65.96%, 0.188, 23.81;
}
.dark {
  --text: 94.61%, 0.000, 89.88;
  --background: 11.49%, 0.000, 89.88;
  --primary: 52.87%, 0.182, 26.04;
  --secondary: 37.90%, 0.137, 26.85;
  --accent: 46.57%, 0.182, 28.23;
}


@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
