@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --text: #121212;
  --background: #fafafa;
  --primary: #d24141;
  --secondary: #eb8484;
  --accent: #ef5757;
  font-family: Inter, sans-serif;
}
.dark {
  --text: #ededed;
  --background: #050505;
  --primary: #be2d2d;
  --secondary: #7b1414;
  --accent: #a81010;
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-size-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.333rem;
  --font-size-2xl: 1.777rem;
  --font-size-3xl: 2.369rem;
  --font-size-4xl: 3.158rem;
  --font-size-5xl: 4.21rem;
}
